.subheader{
    font-weight: bold;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;          /* clean spacing between items */
    background-color: #f2f2f2;
    padding: 30px;
    
}

.flex-item {
    flex: 1;   /* makes both images take equal space */
}

.title {
    text-align: center;
    color: #333;
}


  img {
    width: 100%;
    height: 300px;       /* same height for both */
    object-fit: cover;   /* prevents stretching */
    border-radius: 4px;
}

